<!--html:5[tab]-->
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My First Blog</title>
</head>
<body>
	<h1>DjangoGirls Blog</h1>

	<div>
		<p>published: 04.06.2018, 12:14</p>
		<h2>My first post</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolor error ex illo incidunt iure labore maxime, officiis pariatur perspiciatis provident quo quos repellat repudiandae sint tempora voluptatem. Dolor error excepturi illum mollitia voluptas! Error pariatur, sed? Cupiditate, dicta, velit!</p>
	</div>

	<div>
		<p>published: 04.06.2018, 12:15</p>
		<h2>My second post</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci architecto asperiores assumenda distinctio eum fuga fugiat iusto labore numquam placeat porro quia quibusdam, quis, reiciendis sapiente tempore, vel voluptatibus.</p>
	</div>
	
</body>
</html>